//File Name: header.pug
//Author: Kevalkumar Patel
//Description: This file has header user interface

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  #navbarNavAltMarkup.collapse.navbar-collapse.w-100.order-1.order-md-0.dual-collapse2
    .navbar-nav
      a.nav-item.nav-link.active(href='/index')
        | Index 
        span.sr-only (current)
      a.nav-item.nav-link(href='/about') About Me
      a.nav-item.nav-link(href='/services') Services
      a.nav-item.nav-link(href='/projects') Projects
      a.nav-item.nav-link(href='/contact') Contact Me
    .navbar-nav.ml-auto
      a.navbar-brand(href='https://www.facebook.com/kval29')
        img(src='images/iconfinder_facebook_circle.png', width='35', height='35', alt='')
      a.navbar-brand(href='https://twitter.com/kval29')
        img(src='images/iconfinder_twitter_circle.png', width='35', height='35', alt='')
      a.navbar-brand(href='https://www.linkedin.com/in/keval-patel-b84b9066/')
        img(src='images/iconfinder_linkedin_circle.png', width='35', height='35', alt='')
      a.navbar-brand(href='https://github.com/keval200383118')
        img(src='images/iconfinder_github_circle.png', width='35', height='35', alt='')