extends layout

block content
 section#about
  .textCenter
    h2 About Me
    div(style='padding:10px')
      | I am a student at Georgian College in Computer Programmer Course. I also have Bachelors in Computer Engineering. I have 2+ years of experience in developing mobile application and web applications.
      | I make mobile applications for android devices and websites.
    h3  Skills 
    .skills
      .roundedText JAVA
      .roundedText C#
      .roundedText HTML
      .roundedText CSS
      .roundedText PHP
      .roundedText Javascript
      .roundedText Arduino
      .roundedText Postgres
      .roundedText MySql