extends layout

block content
       section#index
       .card.text-center(style='background-color:#d6d3d3 ; padding:10px; border-radius:5px; margin-right:100px; margin-left:100px; margin-top:20px;margin-bottom:20px')
        .aboutMeImgHeader
          img.circularImage(src='images/keval.jpg', height='200', width='200')
        h2 Keval Patel
        h5 Web and Mobile Application Developer
       // services
        section#services
       // projects
        section#projects
       // contact me
        section#contact

