extends layout

block content
 //File Name: Services.pug
 //Author: Kevalkumar Patel
 //Description: This page has user interface of services 
 .container
  .card-columns.d-flex.justify-content-center
    .card(style='width: 30rem; margin:20px')
      // image :https://www.zdnet.com/article/android-q-to-get-a-ton-of-new-privacy-features/
      img.card-img-top(height='200px', src='images/android-logo.png', alt='Card image cap')
      .card-body
        h5.card-title Mobile Application Development
        p.card-text
          | Proficient in developing android mobile application on Native and Xamarin Platform.
    .card(style='width: 30rem; margin:20px')
      // image : https://pixabay.com/photos/code-html-digital-coding-web-1076536/
      img.card-img-top(height='200px', src='images/web.jpg', alt='Card image cap')
      .card-body
        h5.card-title Web Development
        p.card-text Sound knowledge in web application development using HTML/CSS,PHP and Javascript