body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.circularImage{
	border-radius:50%;
}
.aboutMeImgHeader{
	margin:auto;
	width:20%;
	padding:20px;
}
.aboutMeHeader{
	background-color:#d6d3d3;
	margin-left:50px;
	margin-right:50px;
	margin-top:20px;
	padding:10px;
	border-radius:1%;
}
.textCenter{
	text-align:center;
}
.roundedText{
	float:left;
	width:100px;
	height:100px;
	margin:10px;
	line-height:100px;
	border-radius:50%;
	background-color:gray;
	text-align:center;
	
}
.footer{
	float:left;
	margin:20px;
}